@import '~antd/dist/antd.css';

.ant-layout {
  background: #fff;
}

.main-carousel {
  padding-top: 100px;
  padding-bottom: 50px;
}

.main-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 400px;
  background: #364d79;
  overflow: hidden;
}

.main-carousel .slick-slide h3 {
  color: #fff;
}

.main-form {
  padding-top: 100px;
  padding-bottom: 50px;
}

.login-form-button {
  width: 380px;
}
