@import '~antd/dist/antd.css';

.ant-layout {
  background: #fff;
}

.main-carousel {
  padding-top: 100px;
  padding-bottom: 50px;
}

.ant-form-item {
  margin-bottom: 15px;
}

.main-form {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* 
  ===========================
  Register View
*/
.register-carousel {
  padding-top: 50px;
}

.register-carousel .slick-slide {
  text-align: center;
  height: 600px;
  line-height: 600px;
  background: #ababac;
  overflow: hidden;
}

.register-carousel .slick-slide h3 {
  color: #fff;
}

/* 
  ===========================
*/

.main-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 400px;
  background: #364d79;
  overflow: hidden;
}

.main-carousel .slick-slide h3 {
  color: #fff;
}
