@import '~antd/dist/antd.css';

.ant-layout {
  background: #fff;
}

.ant-form-item {
  margin-bottom: 15px;
}

/* 
  ===========================
  Register View
*/

.register-carousel {
  padding-top: 50px;
}

.register-carousel .slick-slide {
  text-align: center;
  height: 600px;
  line-height: 600px;
  background: #ababac;
  overflow: hidden;
}

.register-carousel .slick-slide h3 {
  color: #fff;
}

/* 
  ===========================
*/

/* 
===========================
  Update Me
*/

.avatar-uploader {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.avatar-uploader > .ant-upload {
  width: 200px;
  height: 200px;
}
/* 
  ===========================
*/
